.banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 113px;
    padding-bottom: 117px;
    background-image: url(https://live.verstaem.online/f&b/img/hero-bg.jpg);

    @media screen and (max-width: 501px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media screen and (max-width: 430px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }


    &-title{
        width: 688px;
        margin: 0 0 22px;
        font-family: 'Cormorant';
        font-weight: 700;
        font-size: 60px;
        line-height: 100%;
        color: #fff;
        @media screen and (max-width: 501px) {
            max-width: 418px;
            font-size: 48px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 430px) {
           width: 250px;
        }
    
    }
    &-subtitle{
        width: 688px;
        margin: 0 0 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        @media screen and (max-width: 501px) {
            display: none;
        }
    }
    &-link{
        display: flex;
        align-items: center;
        column-gap: 6px;
        color: #bae249;
        font-weight: 700;
        font-size: 18px;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: #b9e249a4;
        }
    }
}
.banner-title {
	-webkit-animation: banner-title 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: banner-title 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes banner-title {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-150px);
              transform: translateY(-150px);
    }
  }
  @keyframes banner-title {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
.banner-subtitle {
	-webkit-animation: banner-subtitle 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: banner-subtitle 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes banner-subtitle {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-150px);
              transform: translateY(-150px);
    }
  }
  @keyframes banner-subtitle {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
.banner-link {
	-webkit-animation: banner-link 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: banner-link 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes banner-link {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-150px);
              transform: translateY(-150px);
    }
  }
  @keyframes banner-link {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }