.banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 113px;
    padding-bottom: 117px;
    background-image: url(https://live.verstaem.online/f&b/img/hero-bg.jpg);

    @media screen and (max-width: 501px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &-title{
        width: 688px;
        margin: 0 0 22px;
        font-family: 'Cormorant';
        font-weight: 700;
        font-size: 60px;
        line-height: 100%;
        color: #fff;
        @media screen and (max-width: 501px) {
            width: 418px;
            font-size: 48px;
            margin-bottom: 30px;
        }
    }
    &-subtitle{
        width: 688px;
        margin: 0 0 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        @media screen and (max-width: 501px) {
            display: none;
        }
    }
    &-link{
        display: flex;
        align-items: center;
        column-gap: 6px;
        color: #bae249;
        font-weight: 700;
        font-size: 18px;
        transition: all 0.2s ease-in-out;

        &:hover{
            color: #b9e249a4;
        }
    }
}
